<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<title>ajax-留言板</title>
	<style>
		body{margin:0;padding:0;font-family:'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', Microsoft YaHei, SimSun, sans-serif;line-height:1;padding:20px 20px 50px;}
		.item{font-size:14px;padding:2px 6px;border:solid 1px red;margin:4px;display:inline-block;border-radius:3px;color:purple;text-decoration: none;-webkit-transition:all .6s;transition:all .6s;cursor:pointer;}
		.item:hover{-webkit-transform:scale(1.2);transform:scale(1.2);}
		.tips_bg{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.3);z-index:998;-webkit-transform-origin:top;transform-origin:top;-webkit-transition:all .6s;transition:all .6s;-webkit-transform:scaleY(0);transform:scaleY(0);}
		.tips_box{position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-150%);transform:translate(-50%,-150%);background:#fff;border:solid 2px red;border-radius:5px;padding:10px 50px;-webkit-box-shadow:0 2px 10px rgba(0,0,0,.4);box-shadow:0 2px 10px rgba(0,0,0,.4);z-index: 999;-webkit-transition:all .6s;transition:all .6s;opacity:0;pointer-events:none;}
		.tips_show .tips_bg{-webkit-transform:scaleY(1);transform:scaleY(1);}
		.tips_show .tips_box{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:1;pointer-events:auto;}
		.tips_shut{position:absolute;top:0;right:0;width:40px;height:40px;-webkit-transition:all .6s;transition:all .6s;cursor:pointer;}
		.tips_shut:hover{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
		.tips_shut::before{content:'';height:2px;left:8px;right:8px;background:red;position:absolute;top:50%;margin-top:-1px;border-radius:4px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
		.tips_shut::after{content:'';height:2px;left:8px;right:8px;background:red;position:absolute;top:50%;margin-top:-1px;border-radius:4px;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
		input[type="submit"],input[type="reset"]{cursor:pointer;-webkit-transition:all .6s;transition:all .6s;}
		input[type="submit"]:hover,input[type="reset"]:hover{-webkit-transform:translateY(-6px);transform:translateY(-6px);color:red;}
		label{width:54px;font-size:14px;display:inline-block;}
		input,textarea{resize:none;font-size:14px;}
		.header{overflow:hidden;padding:10px 0 20px;}
		h1{float:left;margin:0;line-height:40px;padding-right:30px;}
		.header_btn{height:40px;line-height:40px;padding:0 12px;float:left;background:purple;color:#fff;border-radius:5px;cursor:pointer;-webkit-transition:all .4s;transition:all .4s;}
		.header_btn:hover{color:red;}
		td{padding:12px;line-height:1.4;text-align: justify;word-break:break-all;}
		td:last-child{text-align:center;}
		td:nth-of-type(1),td:nth-of-type(6){width:8%;text-align:center;}
		td:nth-of-type(2),td:nth-of-type(3),td:nth-of-type(4){width:12%;text-align:center;}
	</style>
</head>
<body>
<div id="vm_box">
	<div class="header">
		<h1>留言板</h1>
		<div class="header_btn" @click="operateMsg('add');">添加留言</div>
	</div>
	<table border="1" cellpadding="0" cellspacing="0" width="100%" bgcolor="#cfe6d0">
		<tr style="background:#ccc;">
		    <td>编号</td>
		    <td>用户名</td>
		    <td>标题</td>
		    <td>时间</td>
		    <td>内容</td>
		    <td>操作</td>
		</tr>
		<tr v-for="item,index in list">
			<td v-text="list.length-index"></td>
		    <td v-text="item.username"></td>
		    <td v-text="item.title"></td>
		    <td v-text="formatTime(item.time)"></td>
		    <td v-text="item.content"></td>
		    <td>
		    	<div class="item" @click="operateMsg('edit',item,list.length-index);">编辑</div>
		    	<div class="item" @click="operateMsg('delete',item,list.length-index);">删除</div>
		    </td>
		</tr>
	</table>
	<!-- 弹框 -->
	<div class="tips" :class="{tips_show:tipsBtn}">
		<div class="tips_bg"></div>
		<div class="tips_box">
			<div class="tips_shut" @click="operateMsg('shut');"></div>
			<div v-show="!tipsType">
				<h2 id="#edit">请编辑：</h2>
				<p>
				    <label for="editId">编号</label>
				    <input type="text" id="id" v-model="data.rank" readonly="readonly">
				</p>
			</div>
		    <h2 v-show="tipsType">请留言：</h2>
		    <p>
		        <label for="username">用户名</label>
		        <input type="text" id="username" placeholder="请输入用户名" v-model.trim="data.username">
		    </p>
		    <p>
		        <label for="title">标题</label>
		        <input type="text" id="title" placeholder="请输入标题" v-model.trim="data.title">
		    </p>
		    <p>
		        <label for="content">内容</label>
		        <textarea id="content" id="" cols="30" rows="10" v-model.trim="data.content"></textarea>
		    </p>
		    <p>
		    	<input type="submit" value="修改留言" v-show="!tipsType" @click="editQuery">
		        <input type="submit" value="发布留言" v-show="tipsType" @click="addQuery">
		        <input type="reset" value="重置" @click="operateMsg('empty')">
		    </p>
		</div>
	</div>
</div>
<script src="./js/jq.js"></script>
<script src="./js/vue.min.js"></script>
<script>
(function(w){
	var vm = new Vue({
		el:"#vm_box",
		data:{
			list:[],
			data:{
				rank:'',
				id:'',
				username:'',
				title:'',
				content:'',
			},
			tipsBtn:false,
			// true添加，false编辑
			tipsType:true
		},
		methods:{
			// 提交增加和修改数据
			addQuery(){
				if(this.emptyBreak()){
					ajaxQuery({
						type:'add',
						username:vm.data.username,
						title:vm.data.title,
						content:vm.data.content,
					},function(data,status){
						var data = typeof(data)==='string'?JSON.parse(data):data;
						if(status=='success'){
							vm.tipsBtn = false;
							queryList();
						}
					});
				}
			},
			editQuery(){
				if(this.emptyBreak()){
					ajaxQuery({
						type:'edit',
						id:vm.data.id,
						username:vm.data.username,
						title:vm.data.title,
						content:vm.data.content,
					},function(data,status){
						var data = typeof(data)==='string'?JSON.parse(data):data;
						if(status=='success'){
							vm.tipsBtn = false;
							queryList();
						}
					});
				}
			},
			// 增删改查
			operateMsg(type,item,rank){
				var that = this;
				var idx = ['add','edit','delete','shut','empty'].indexOf(type);
				switch(idx){
					case 0:
						vm.tipsBtn = true;
						console.log('添加');
						vm.tipsType = true;
						$('#username').focus();
						break;
					case 1:
						console.log('编辑');
						vm.tipsBtn = true;
						vm.tipsType = false;
						vm.data = {
							rank:rank,
							id:item.id,
							username:item.username,
							title:item.title,
							content:item.content,
						};
						$('#username').focus();
						break;
					case 2:
						console.log('删除');
						if(confirm('确定删除 ['+item.username+'] ?')){
							ajaxQuery({
								type:'delete',
								id:item.id
							},function(data,status){
								var data = typeof(data)==='string'?JSON.parse(data):data;
								if(status=='success'){
									vm.tipsBtn = false;
									queryList();
								}
							});
						}
						break;
					case 3:
						console.log('关闭');
						vm.tipsBtn = false;
						vm.data = {
							rank:'',
							id:'',
							username:'',
							title:'',
							content:'',
						};
						break;
					case 4:
						console.log('空');
						vm.data = {
							rank:'',
							id:'',
							username:'',
							title:'',
							content:'',
						};
						break;
				}
			},
			formatTime(timestamp){
				var sDate = new Date(timestamp*1000);//日期
				var sYear = sDate.getFullYear();//年
				var sMonth = sDate.getMonth()+1;//月
				var sDay = sDate.getDate();//日
				var sHour = sDate.getHours();//小时
				var sMinute = sDate.getMinutes();//分钟
				var sSecond = sDate.getSeconds();//秒
				var mSecond = sDate.getMilliseconds();//毫秒
				return sYear+'-'+this.evenNum(sMonth)+'-'+this.evenNum(sDay)+' '+this.evenNum(sHour)+':'+this.evenNum(sMinute)+':'+this.evenNum(sSecond);
			},
			evenNum(n){
				return n<10?'0'+n:''+n;
			},
			emptyBreak(){
				if(vm.data.username===''){
					$('#username').focus();
					return false;
				}
				if(vm.data.title===''){
					$('#title').focus();
					return false;
				}
				if(vm.data.content===''){
					$('#content').focus();
					return false;
				}
				return true;
			}
		},
		mounted(){
			// 初始请求全部内容
			queryList();
		}
	});
	function queryList(){
		ajaxQuery({
			type:'list'
		},function(data,status){
			var data = typeof(data)==='string'?JSON.parse(data):data;
			if(status=='success'){
				vm.list = data;
			}
		});
	}
	/**
	 * [ajaxQuery ajax请求封装]
	 * @param  {[type]}   data     [请求参数]
	 * @param  {Function} callback [成功回调函数]
	 * @return {[type]}            [无]
	 */
	function ajaxQuery(data,callback){
		$.ajax({
			url: './index.php',
			type: 'POST',
			data: data,
		}).done(function(data,status,xhr) {
			callback&&callback(data,status);
		}).fail(function(xhr,text) {
			console.log(text);
		});

	}
	w.vm = vm;
})(window);
</script>
</body>
</html>